{% extends '@frontend/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Server Error!</h1>
        <p>
            The issue is from our own end, not yours.
            Please visit our page later.
            Thanks
        </p>
    </div>
{% endblock %}