{% extends '@frontend/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Something went wrong!</h1>
        <p>
            <a href="{{ path('app_dashboard') }}">Return to the dashboard</a>
        </p>
    </div>
{% endblock %}