{% extends '@frontend/base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Page Not Found</h1>
        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('app_dashboard') }}">return to the dashboard</a>.
        </p>
    </div>
{% endblock %}