<!-- Sidebar -->
<header class="sidebar">
    <div class="backgroundShape-left"></div>
    <div class="sidebar-content clearfix">
        <!-- Main Menu Button -->
        <div class="menu-icon">
            <button id="nav_btn" class="pointer-open"><i class="fas fa-bars"></i></button>
        </div> 
        <!-- Main Menu Button End -->

        <!-- My Image -->
        <div class="author-image theme-bg-color">
            <img src="{{ asset("frontend/img/author/1.png") }}" alt="author-image">
        </div> 
        <!-- My Image End -->

        <!-- My Social Links -->
        <div class="author-social-icons text-center">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100072127404106" class="pointer-href" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.twitter.com/lexis_code/" class="pointer-href" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://github.com/lexiscode" class="pointer-href" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/alexander-nwokorie/" class="pointer-href" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div> 
        <!-- My Social Links End -->

        <!-- Copyright -->
        <div class="copyright-area text-center">
            <p><a href="templateshub.net">Lexis Hub </a><span><script>document.write(new Date().getFullYear());</script></span></p>
        </div> 
        <!-- Copyright End -->
    </div>
</header> 
<!-- Sidebar end -->

